*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > *{
  box-shadow: -1px 1px 7px 0px rgb(0, 0, 0,0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header{
  grid-area: header;
  background-color: aqua;
}
.navbar{
    grid-area: navbar;
    background-color: bisque;
}
.sidebar{
    grid-area: sidebar;
    background-color: blanchedalmond;
}
.main{
    grid-area: main;
    background-color: blue;
}
.footer{
    grid-area: footer;
    background-color: darkblue;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header" 
    "navbar" 
    "main" 
    "sidebar" 
    "footer";

} 

@media(min-width: 600px){
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        
        /*grid-template-areas: 
        "header header" 
        "navbar navbar" 
        "saidebar main"  
        "footer footer";*/

        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "saidebar main"  auto
        "footer footer"  100px / 
         200px auto;
    }
}

